@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  outline: 0;;
}

body {
  font-family: 'Lato', sans-serif;
  background:#e0ecff;
  
}

.botao-area {
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao {
  background-color: #83aeff;
  border:none;
  color: white;
  text-decoration:none;
  font-size:18px;
  padding:10px;
  margin:10px;
  font-weight: bold;
  border-radius: 5px;
}

.botao. {
  background-color: rgb(134, 255, 140);

}

.botao:hover {
  background-color: rgb(134, 255, 140);
  cursor: pointer;
}



